<h1>My Images</h1>

<%= link_to 'New Image', new_image_path %>

<table>
  <tr>
    <th>Url</th>
    <th>Tags</th>
    <th></th>
  </tr>

  <% @images.each do |image| %>
    <tr>
      <td><%= image.url %></td>
      <td><%= raw(image.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></td>
      <td><%= link_to 'Delete', image_path(image),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      <td><%= image_tag(image.url, class: 'image-view') %></td>
    </tr>
  <% end %>
</table>
